@import url("./root.css");

/* ======================================================== MARGIN ========================================================== */

.mt-two {
  margin-top: 2px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

/* ======================================================== PADDING ========================================================== */

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-18 {
  padding-top: 18px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-57 {
  padding-top: 57px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

/* ======================================================== FLEX_CLASSES ======================================================= */

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-32 {
  gap: 32px;
}

.gap-28 {
  gap: 28px;
}

.gap-60 {
  gap: 60px;
}

/* ======================================================== COMMON THINGS ====================================================== */

::-webkit-scrollbar {
  display: none;
}

.common-btn {
  outline: none;
  border: none;
  border-radius: 84px;
  background-color: var(--color-fa);
  font-family: var(--ff-acumin);
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  text-align: center;
  color: var(--white-color);
  height: 50px;
  overflow: hidden;
  transition-duration: 0.5s;
  position: relative;
  z-index: 3;
  padding: 0px 20px;
  width: fit-content;
  box-shadow: 0px 0px 26.2px 0px var(--color-fa);;
}

.common-btn:hover {
  background-color: var(--white-color);
  color: var(--color-fa);;
}

.max-w-613 {
  max-width: 613px;
}

.max-w-900 {
  max-width: 900px;
}

.z-1 {
  z-index: 1 !important;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.max-w-267 {
  max-width: 267px;
}

/* ======================================================== PRELOADER ========================================================== */

.preloader {
  background-color: var(--color-fa);;
  z-index: 100;
  height: 105%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ip {
  width: 16em;
  height: 8em;
}
.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }
  .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}

/* ======================================================== HEADER ================================================================== */

.header {
  background-image: url("../images/png/header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.common-information-svg {
  background-color: var(--color-fa);;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.nav {
  max-width: 1230px;
  border-radius: 16px;
}

.top-nav {
  margin-left: 12px;
  margin-right: 12px;
}

.header-h {
  max-width: 730px;
}

.header-p {
  max-width: 425px;
}

.navlist a:hover {
  color: var(--color-fa);;
}

.benifit-card {
  max-width: 544px;
  padding: 22px;
  border-radius: 16px;
  background-color: var(--benifit-card);
  backdrop-filter: blur(9px);
  margin-bottom: 85px;
}

.benifit-svg {
  width: fit-content;
  border-radius: 50%;
  background-color: var(--color-fa);;
  padding: 8.61px 6.22px 8.61px 6px;
}

.top-txt:hover{
  color: var(--white-color);
  cursor: pointer;
}

/* ======================================================== FUTURE ================================================================== */

.future-img {
  max-width: 535px;
}

.future-section {
  padding-top: 85px;
}

.future-bg {
  top: 157px;
  left: 0;
  width: 100%;
}

.pause-svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* ======================================================== UNDERSTANDING =========================================================== */
.section2 {
  background-color: var(--color-fa);;
  padding-bottom: 158px;
  margin-top: 4px;
}

.understanding-right {
  top: 357px;
  max-width: 690px;
  right: 0;
}

.understanding-left {
  left: 0;
  bottom: 10px;
}

.sec2-top {
  top: 0;
  width: 100%;
}

.sec2-bottom {
  background-color: var(--color-fa);;
  margin-top: -9px;
  position: relative;
  z-index: 0;
}

/* ======================================================== ICE DRY ================================================================= */

.cleaning-box {
  max-width: 533px;
}

.ice-pos {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ice-img-content {
  max-width: 535px;
}

.dry-section {
  margin-bottom: 121px;
}

/* ======================================================== BEHIND SECTION ========================================================== */

.behind-section {
  background-image: url("../images/png/behind.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 254px;
  padding-bottom: 254px;
}

.behind-h {
  max-width: 567px;
}

.behind-p {
  max-width: 592px;
}

.behind-img {
  border-radius: 24px;
  border: 4px solid var(--behind-img);
}
/* ======================================================== TALK SECTION ============================================================ */

.talk-section {
  padding-top: 110px;
  padding-bottom: 40px;
}

.talk-p {
  max-width: 759px;
}

.accordian-box1 {
  background-color: var(--accordian1);
  padding: 32px;
  border-radius: 14px;
  border: 1px solid var(--accordian-box1);
}

.accordian-box2 {
  background-color: var(--accordian2);
}

.accordian-box3 {
  background-color: var(--accordian3);
}

.accordian-box4 {
  background-color: var(--accordian4);
}

.accordian1-p {
  max-width: 551px;
  pointer-events: none;
}

.pos-rel-11 {
  position: relative;
  top: 10px;
}

.accordian1-h1 {
  max-width: 398px;
}

.layer-on-p {
  height: 100%;
  width: 100%;
  max-width: 542px;
  background: transparent;
  right: 100px;
  top: 0;
}
z .quote-card {
  border-radius: 14px;
  padding: 37px;
  border: 6px solid var(--quote);
  box-shadow: 0px 0px 26.2px 0px var(--color-fa);
}

.quote-p {
  max-width: 770px;
}

/* ======================================================== SLIDER SECTION ========================================================== */

.slider-section {
  background-color: var(--color-fa);;
}

.gallery-slide {
  display: block;
  width: 360px;
  height: auto;
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}
.gallery-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-actions {
  margin-top: 20px;
}

.swiper-slide {
  border: 3px solid var(--white-color);;
}

.swiper-3d {
  perspective: 973px !important;
}

.gallery-slider .swiper-pagination {
  display: none !important;
}

.swiper-btn {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50%;
  box-shadow: 0px 0px 26.2px 0px var(--color-fa);
  background-color: var(--white-color);
}

.swiper-button-next {
  position: absolute !important;
  right: -64px;
  top: 54%;
}

.swiper-button-prev {
  position: absolute !important;
  left: -64px;
  top: 54%;
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-button-next::after {
  font-weight: bold;
  content: "next";
  font-size: 26px;
  color: var(--color-fa);;
  position: relative;
  left: 2px;
}

.swiper-button-prev::after {
  font-weight: bold;
  content: "prev";
  font-size: 26px;
  color: var(--color-fa);;
  position: relative;
  left: -2px;
}

.swiper-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.gallery-slider .swiper-btn {
  position: static;
  height: 22px;
  margin: 0;
}
.gallery-slider .swiper-btn:after {
  font-size: 22px;
  color: var(--black-color);
}
.gallery-slider .swiper-pagination {
  position: static;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.gallery-slider .swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  border-radius: 3px;
  margin: 0 !important;
}
.gallery-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--black-color);
}

.gallery-slide.swiper-slide-active {
  border: 4px solid var(--color-d4);
  border-radius: 34px;
}
/* ======================================================== MEET SECTION ============================================================ */

.meet-bg {
  width: 544px !important;
  height: 720px !important;
  left: -12%;
  top: -36%;
  z-index: 0;
}

.meet-section {
  padding-bottom: 16px;
}

/* ======================================================== ACCORDIAN SECTION ======================================================= */

.accordian-box {
  background-color: var(--color-f3);
  border: 1px solid var(--color-101);
  border-radius: 14px;
  transition: all 500ms linear !important;
}

.accordian-txt-or-svg {
  padding: 24px 30px;
}

.accordian-p {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 24px;
}

.ask-diffrent-que {
  background-color: var(--color-f3);
  border-radius: 14px;
  border: 1px solid var(--color-101);
  padding: 16px 30px;
}

.textarea {
  min-height: 152px;
  border-radius: 16px;
  border: 1px solid var(--color-101);
  background-color: var(--white-color);
  margin-top: 18px;
  outline: none;
  resize: none;
}

.accordian-section {
  padding-bottom: 85px;
}

/* ======================================================== LATEST SECTION ========================================================= */

.latest-box {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 12px 0px var(--color-1a);
}

.latest-box:hover {
  box-shadow: 0px 0px 10px var(--color-fa);;
  cursor: pointer;
}

.ice-txt {
  max-width: 280px;
}

/* ======================================================== BLAST SECTION =========================================================== */

.blast-p {
  max-width: 966px;
}

/* ======================================================== MAILING SECTION ========================================================= */

.mail-box {
  max-width: 958px;
  min-height: 320px;
  padding: 68px 226px 40px 227px;
  border-radius: 42px;
  background-color: var(--color-2e);
  box-shadow: 0px 2px 34px 0px var(--color-1a);
  top: 0;
}

.email-btn {
  max-width: 505px;
  padding: 3px;
  border-radius: 47px;
  background-color: var(--white-color);
  border: 1px solid var(--email-btn);
}

.email {
  width: 70%;
  padding-left: 20px;
  border: none;
  outline: none;
}

.checkbox {
  border: 0.5px solid var(--white-color);
  width: 23px;
  height: 23px;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-txt {
  cursor: pointer;
}

.mail-position {
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.map-img-box {
  height: 100%;
}

/* ======================================================== FOOTER ================================================================== */

.footer {
  background-color: var(--color-2e);
  padding-top: 38px;
  padding-bottom: 33px;
}

.color-10 {
  color: var(--color-10);
}

.accord_back_clr {
  background: var(--color-10) !important;
}

.map:hover {
  color: var(--white-color);
  cursor: pointer;
}

.footer-list a:hover {
  color: var(--white-color);
}

.txt a:hover {
  color: var(--white-color);
}

.common-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-fa);;
  transition: all 200ms linear;
}

.common-icon:hover {
  background-color: var(--white-color);
}

.insta-icon1:hover {
  box-shadow: 0px 0px 10px var(--color-fa);;
  background-color: var(--color-fa);;
}

.insta-icon1:hover svg path {
  fill: var(--white-color) !important;
}

.common-icon:hover svg path {
  fill: var(--color-fa);;
}

/* ======================================================== MIN-WIDTH :576 ========================================================= */

@media (min-width: 576px) {
  .w-sm-unset {
    width: unset !important;
  }
}

/* ======================================================== MIN-WIDTH :768 ========================================================= */

@media (min-width: 768px) {
  .header-h {
    padding-top: 55px;
  }

  .mail-box {
    top: 110px;
  }
}

/* ======================================================== MIN-WIDTH :992 ========================================================= */

@media (min-width: 992px) {
  .mb-lg-220 {
    margin-bottom: 220px;
  }

  .footer-p {
    max-width: 350px;
  }

  .header-h {
    padding-top: 87px;
  }

  .future-h {
    max-width: 351px;
  }

  .mt-lg-80 {
    margin-top: 80px;
  }

  .pt-lg-271 {
    padding-top: 271px;
  }

  .pt-lg-130 {
    padding-top: 130px;
  }

  .mt-sm-20 {
    margin-top: 20px !important;
  }

  .mt-sm-40 {
    margin-top: 40px;
  }
}

/* ======================================================== MIN-WIDTH :1920 ========================================================= */

@media (min-width: 1920px) {
  .understanding-left,
  .understanding-right {
    position: unset !important;
    width: 100% !important;
  }

  .future-bg {
    top: 0px;
    opacity: 40%;
  }
}

/* ======================================================== MAX-WIDTH :1400 ========================================================= */

@media (max-width: 1399.11px) {
  .swiper-button-prev {
    left: -45px;
  }

  .swiper-button-next {
    right: -45px;
  }
}

/* ======================================================== MAX-WIDTH :1200 ========================================================= */

@media (max-width: 1199.99px) {
  .move {
    width: 1140px;
    margin: 10px -400px;
    animation: nav_move 10s infinite linear;
  }

  .move:hover {
    animation-play-state: paused;
  }

  @keyframes nav_move {
    0% {
      margin-left: 400px;
    }

    100% {
      margin-left: -800px;
    }
  }

  .understanding-right {
    top: 425px;
  }

  .understanding-left,
  .understanding-right {
    max-width: 503px !important;
  }

  .swiper-button-prev {
    left: 42%;
    top: 95%;
  }

  .swiper-button-next {
    right: 42%;
    top: 95%;
  }
}
/* ======================================================== MAX-WIDTH :992 ========================================================== */

@media (max-width: 991.11px) {
  .max-w-p {
    max-width: 650px;
  }

  .acc-main-h {
    padding-top: 56px;
  }

  .understanding-left,
  .understanding-right {
    position: unset !important;
    max-width: unset;
  }

  .understanding-right {
    padding-top: 10px;
  }

  .understanding-width {
    max-width: 758px;
  }

  .section2 {
    padding-bottom: 10px;
    margin-top: 48px;
  }

  .accordian1-p {
    max-width: unset;
  }

  .accordian1-h1 {
    max-width: unset;
  }

  .layer-on-p {
    height: 58%;
    width: 100%;
    max-width: 955px;
    background: transparent;
    left: 0;
    z-index: 4;
    top: 91px;
  }

  .acc-p-h2 {
    gap: 0 !important;
  }

  .accordian-box1 {
    padding: 22px;
  }

  .mail-box {
    max-width: 958px;
    min-height: 320px;
    border-radius: 42px;
    background-color: var(--color-2e);
    box-shadow: 0px 2px 34px 0px var(--color-1a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 46px;
  }

  .meet-section {
    margin-top: 0;
  }

  .meet-img1 {
    max-width: 792px;
  }

  .behind-section {
    padding-top: 182px;
    padding-bottom: 194px;
    background-size: cover;
  }

  .dry-section {
    margin-bottom: 76px;
  }

  .talk-section {
    padding-top: 65px;
    padding-bottom: 29px;
  }

  .meet-btm {
    margin-top: -129px;
  }

  .ice-img-content,
  .cleaning-box {
    max-width: 768px;
    width: 100%;
  }

  .future-img {
    max-width: 654px;
    width: 100%;
  }

  .behind-img {
    min-height: 503px;
    object-fit: cover;
  }
}

/* ======================================================== MAX-WIDTH :768 ========================================================== */

@media (max-width: 767.1px) {
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative !important;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-fa);;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .navbar-items {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 6;
    justify-content: center;
    transition-duration: 0.5s;
  }

  .show {
    left: 0;
  }

  #checkbox:checked + .navbar-items {
    left: 0;
  }

  .header-h {
    margin-top: 45px;
  }

  .understanding-left,
  .understanding-right {
    max-width: 645px;
    width: 100%;
  }

  .mail-box {
    margin-top: 123px;
  }

  .meet-btm {
    margin-top: -83px;
  }

  .accordian-section {
    padding-bottom: 55px;
    padding-top: 40px;
  }

  .blast-h {
    padding-top: 28px;
  }

  .acc-main-h {
    padding-top: unset;
  }
}

/* ======================================================== MAX-WIDTH :576 ========================================================== */

@media (max-width: 575.11px) {
  .benifit-card {
    padding: 16px;
  }

  .accordian-box1 {
    padding: 12px;
  }

  .mail-box {
    border-radius: 16px;
    padding: 10px;
    padding-top: 62px;
  }

  .email-btn {
    padding: 17px 12px;
    border-radius: 13px;
  }

  .swiper-button-prev {
    left: 30%;
  }

  .swiper-button-next {
    right: 30%;
  }

  .meet-btm {
    margin-top: -31px;
  }

  .accordian-txt-or-svg,
  .ask-diffrent-que {
    padding: 16px;
  }

  .accordian-section {
    padding-bottom: 48px;
    padding-top: unset;
  }

  .acc-main-h {
    padding-top: 27px;
  }

  .blast-h {
    padding-top: 32px;
  }

  .dry-h {
    padding-top: 13px;
  }

  .dry-section {
    margin-bottom: 8px;
  }

  .talk-section {
    padding-top: 13px;
  }

  .mail-box {
    margin-top: 105px;
  }

  .behind-img {
    min-height: 400px;
    object-fit: cover;
  }
}
